seamonkey-1.1.16.source.tar.bz2
seamonkey-2.0b1-source.tar.bz2
seamonkey-langpacks-2.0b1-20090724.tar.bz2
seamonkey-2.0b2.source.tar.bz2
seamonkey-langpacks-2.0b2-20090923.tar.bz2
seamonkey-2.0rc1.source.tar.bz2
seamonkey-langpacks-2.0-20091013.tar.bz2
seamonkey-2.0rc2.source.tar.bz2
seamonkey-langpacks-2.0-20091019.tar.bz2
seamonkey-langpacks-2.0.1-20091217.tar.bz2
seamonkey-2.0.3.source.tar.bz2
seamonkey-langpacks-2.0.3-20100217.tar.bz2
